.todo-list li .description .icon-pause,
.todo-list li .description .icon-play {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.todo-list li .description .icon-pause {
  margin-right: 7px;
}
.todo-list li .description .icon-play {
  font-size: 15px;
}

.icon-pause:after {
  content: '⏸';
}

.icon-play:after {
  content: '▶';
}
